body {
  background: red; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(-90deg, #CA5973, #E79664); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(-90deg, #CA5973, #E79664); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(-90deg, #CA5973, #E79664); /* For Firefox 3.6 to 15 */
background: linear-gradient(-90deg, #CA5973, #E79664); /* Standard syntax */
color:white;
}

.wrapper {
  position: relative;
  clear: both;
}

.title {
  font-size: 45px;
  position: absolute;
  top: 45px;
  left: 60px;
  font-family: 'Pacifico', cursive;
}

.pdp {
  position: absolute;
  top: 150px;
  left: 450px;
  width: 600px;
  height: 300px;
}

.info {
  padding-left: 200px;
}

.main-image {
  position: relative;
}

.main-image img {
  width: 600px;
}

#caption {
  position: absolute;
  top: 210px;
  left: 105px;
}

#cat-image {
  position: absolute;
  top: 150px;
  left: 50px;
}

.nav table img {
  width: 30px;
}

.nav table {
  float:right;
}

#cat-icon {
  float:left;
  width: 80px;
  margin-left: 10px;
}

.nav {
  border-bottom: 1px solid white;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
}

th, td {
  padding-right: 80px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.pdp {
  clear: both;
  float:right;
  border: 2px solid white;
  padding: 40px;
  margin-right: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Quicksand', sans-serif;
}

.pdp h1 {
  font-family: 'Pacifico', cursive;

}

.gal-header {
  position: absolute;
  top: 630px;
  left: 300px;
    font-family: 'Pacifico', cursive;
}

.gallery {
  clear: both;
  position: absolute;
  top: 700px;
  width: 616px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  box-sizing: border-box;
  left: 300px;
}

.gal-image {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  float: right;
  position: relative;
}

.gal-image:nth-child(1):hover::after {
  content: "Buddy";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(2):hover::after {
  content: "Chipper";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(3):hover::after {
  content: "Skippy";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(4):hover::after {
  content: "Jerry";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(5):hover::after {
  content: "Buckets";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(6):hover::after {
  content: "Toonses";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(7):hover::after {
  content: "Laura Dern";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(8):hover::after {
  content: "Wanda";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:nth-child(9):hover::after {
  content: "Butter";
  position: absolute;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  bottom: 0px;
  left:0px;
}

.gal-image:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#cat3, #cat2 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cat1, #cat4 {
  width: 115px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cat6 {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cat5, #cat9 {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cat7, #cat8 {
  width: 123px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
